.about {
  padding-top: 40px;
}

.about__link {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000;
}

.about__link-icon {
  margin-right: 10px;
  vertical-align: middle;
}

.about__heading {
    margin: 0;
    margin-bottom: 40px;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #333333;
}

.about__paragraph{
    max-width: 820px;
    margin: 0;
    margin-bottom: 100px;
}