.hero {
  padding-top: 90px;
  background-color: #016bff;
}

.hero__heading {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 90px;
  text-align: center;
  font-weight: 600;
  font-size: 64px;
  line-height: 79px;
  color: #ffffff;
}

.searchbar__list {
  display: flex;
  max-width: max-content;
  margin: 0 auto;
  margin-bottom: 150px;
  padding: 0;
  list-style-type: none;
  transform: translateY(50%);
}

.searchbar__btn {
  width: 155px;
  height: 56px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background: #006aff;
  border-radius: 0px 10px 10px 0px;
  border: none;
}

.business{
  margin-bottom: 130px;
}

.hero__bottom {
  display: flex;
  justify-content: space-between;
}

.hero__bottom--left,
.hero__bottom--right {
  position: relative;
  max-width: 625px;
  width: 100%;
  padding: 60px 0 70px 30px;
  background-color: #055bd3;
}

.hero__bottom__heading {
  max-width: 310px;
  margin: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  color: #ffffff;
}

.hero__bottom-img{
  position: absolute;
  bottom: 0;
  right: 0;
}